<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Mongooses</title>
    </head>
    <body>
        <div id="wrapper">
            <h5><a href='/mongoose/new'>Add mongoose</a></h5>
            <h1>Look through all of our Mongooses</h1><br>
            <hr>
                <% for(i in mongoose){ %>
                    <p>- Name: <a href='/mongooses/<%= mongoose[i]._id  %>'><%= mongoose[i].name  %></a>, Age: <%= mongoose[i].age  %> <form action='/mongooses/destroy/<%= mongoose[i]._id  %>' method='POST'><input type='submit' value='Delete me'/></form></p><br>
                <% } %>
        </div>
    </body>
</html>