<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Counter</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Counter</h1><br>
            <h3>Name: <%= counter %></h3>
            <form action='/endsession' method='POST'>
                <input type='submit' value='Clear Views'></button>
            </form>
            <form action='/' method='POST'>
                <input type='submit' value='Add 2'></button>
            </form>
        </div>
    </body>
</html>