<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>  :add_title:  </title>
    </head>
    <body>
        <div id="wrapper">
            <a href="/travels">Home</a><a href="/travels/add">Add New Trip</a><a href="/clear">Log Out</a>
            <h1>{{trip.destination}}</h1>
            <h2>Planned By: {{trip.user.name}}</h2>
            <h3>Description: {{trip.description}}</h3>
            <h3>Travel Date From: {{trip.travel_date_from}}</h3>
            <h3>Travel Date From: {{trip.travel_date_to}}</h3>
            <br><br>
            <h3>Other people that are going:</h3>
            {% for i in filter %}
            {% if i.traveler != trip.user  %}
                <h6>{{i.traveler.user}}</a></h6>
            {% endif %}
            {% endfor %}
        </div>
    </body>
</html>