<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing_page.css') }}">
        <title>Landing Page - Dojos</title>
    </head>
    <body>
        <div id='wrapper'>
            <h2>Form</h2>
            <form action="">
                <input type="text" name="username"><br>
                <input type="password" name="password"><br>           
                <input type="submit" name="submit_button" value="submit">
            </form>
        </div>
    </body>
</html>