<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/email_verification.css">
        <title>Email Verification</title>
    </head>
     <body>
        <h2>Add an e-mail:</h2>
        <form action='/addvalue' method='POST'>
            <label for="email">Email:</label>
            <input type="text" name="email"><br><br>
            <input type="submit" value="Submit">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h3 class='red'>{{message}}</h3>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </form>
    </body>
</html>