@{
    ViewData["Title"] = "Home Page";
}
<h1>Notes</h1>
<hr>
@foreach(var i in @ViewBag.notes)
{
    <table>
        <tr>
            <th>@i["title"]</th>
            <th><a href='@i["id"]'>Delete</a></th>
        </tr>
        <br>
        <tr>
            <td>@i["note"]</td>
            <td></td>
        </tr>
    </table>
}
<br><br>
<form action='/addNote' method='POST'>
    <textarea name='yournote' placeholder="Enter your description here..."></textarea><br><br>
    <input type='text' name='yourtitle' placeholder="Inser note title here.."/><br><br><br>
    <input type='submit' value='Add Note'/>
</form>

<!-- @model AjaxNotes.Models.Note

<h1>Notes</h1>
<hr/>
<div id="notes" class="row">
</div>
<div class="row">
    <p id="error"></p>
    <form id="noteForm">
        <input asp-for="NoteTitle"/>
        <button type="submit">Add Note</button>
    </form>
</div> -->