<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/travel_app/CSS/travel_app.css">
        <title>Travel Dashboard</title>
    </head>
    <body>
        <div id="wrapper">
            <h6><a href="/clear">Log out</a><a href="/books/add">Add New Book</a></h6>
            <h1>Hello, {{you.name}}!</h1><br>
            <div class='trip_main'>
                <h3>Your Wish List:</h3><br><br>
                <table dir="ltr" width="500" border="1">
                    <colgroup width="50%" />
                    <colgroup id="colgroup" class="colgroup" align="center" 
                    valign="middle" title="title" width="1*" 
                    span="2" style="background:#ddd;" />
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Added By</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for item in items %}
                        {% if item.user.id == you.id%}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.user.name}}</td>
                            <td>{{item.created_at.date}}</td>
                            <td><a href="travels/destination/{{trip.id}}">Go</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div><br><br><br>
        <div class='trip_main'>
            <h3>Other User's Wish List:</h3><br><br>
                            <table dir="ltr" width="500" border="1">
                    <colgroup width="50%" />
                    <colgroup id="colgroup" class="colgroup" align="center" 
                    valign="middle" title="title" width="1*" 
                    span="2" style="background:#ddd;" />
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Added By</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for item in other %}
                        {% if item.user.id != you.id %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.user.name}}</td>
                            <td>{{item.created_at.date}}</td>
                            <td>
                            <form action="/add_to_wish"></form>
                            {% csrf_token %}
                            <input type="hidden" name='item' value='{{item.id}}'>
                            <input type="submit" value='Add to My Wishlist'>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </table>
            <a href="/wish_items/create">Create Item</a></h6>
        </div>
    </body>
</html>