@model userdashboard.Models.registerViewModel

@{
    ViewData["Title"] = "Login";
}

<form action="" method="POST">
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->
    <label for="email">Email Address:</label>
    <input asp-for="email" type="email" name="email">
    <span asp-validation-for="email"></span>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

    <label for="password">Password:</label>
    <input asp-for="password" type="password" name="password">
    <span asp-validation-for="password"></span><br>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

    <input type="submit" name="submit">
    
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->
    
</form>

<a href="register">Or Click Here To Register</a>