<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/CSS/contact.css"/>        
    </head>
    <body>
        <div id='wrapper'>
        <h1>Contact</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <br><br><br>
        <form action='/'>
            <label for='yourname'>Name:</label>
            <input type='text' name='yourname'><br>
            <label for='yourname'>Email:</label>
            <input type='email' name='youremail'><br>
            <label for='yourcomment'>Comment:</label>
            <textarea name='yourcomment'></textarea>
            <br><br>
            <input type='submit' value='Submit'>
        </form>
        </div>
    </body>
</html>