<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/CSS/projects.css"/>        
    </head>
    <body>
        <div id='wrapper'>
        <h1>Projects Page</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
            <br><br><br>
            <h2>Project 1</h2><br>
            <img  src="~/img/Chicago2.jpg" alt="An image">
            <h4>Some information on project 1:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
            <br><br><br>
            <h2>Project 2</h2><br>
            <img  src="~/img/Chicago2.jpg" alt="An image">
            <h4>Some information on project 2:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
            <br><br><br>
            <h2>Some information on project 3:</h2><br>
            <img  src="~/img/Chicago2.jpg" alt="An image">
            <h4>Here you will learn a little about me:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>
        </div>
    </body>
</html>