<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/number_guess.css">
        <title>Number Guess</title>
    </head>
    <body>
        <div id="wrapper">
            <div id='header'>
            <h1>Welcome to the Great Number Game!</h1>
            <h3>I am thinking of a number between 1 and 100</h3>
            <h3>Take a guess!</h3>
            </div>
            {% if template_status != 'start' %}
            <div id='{{template_status}}' class='results'>
                <h3>{{template_warning}}</h3>
                {% if template_status == 'won' %}
                <form action='/clear' method="POST" id='clear'>
                    <input type="submit" value="Start Over">  
                </form>
                {% endif %}
            </div>
            {% endif %}
            <form action='/game' method="POST">
                <label>Your guess</label>
                <input type='text' name='player_guess'>
                <input type="submit" value="Guess!">
            </form>
        </div>
    </body>
</html>