<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/appoint_app/CSS/appointments.css"> 
        <title>Login/Registration</title>
    </head>
    <body>
        <div id="wrapper">
            <div id='registration' class='main'>
                <h2>Registration</h2>
                <form action="/registration" method="POST">
                    {% csrf_token %}
                    <label for="name">Name:</label>
                    <input type="text" name="name" placeholder="At least 3 characters"><br><br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"><br><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password"><br><br>
                    <p>"At least 8 characters"</p>
                    <label for="pw_confirm">Password Confirmation:</label>
                    <input type="password" name="pw_confirm"><br><br>
                    <label for="birthday">Date of Birth:</label>
                    <input type="date" name="birthday"><br><br>
                    <input type="submit" value="Register"> 
                </form>
            </div>
            <hr>
            <div id='login' class='main'>
                <h2>Login</h2>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email"><br><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password"><br><br>
                    <input type="submit" value="Login"> 
                </form>
                {% if messages %}
                    <ul class="messages">
                        {% for msg in messages %}       
                            <h6 class='mess'>- {{msg.message}}</h6>
                        {% endfor %}
                {% endif %}
            </div> 
        </div>
    </body>
</html>