@{
    ViewData["Title"] = "Home Page";
}
<a href="/">Home</a><br><br><br>
<h1>Here are the awesome quotes!</h1><br><br><br>
<table>
    <tr>
        <th>Comment</th>
        <th>User</th> 
        <th>Date</th>
    </tr>
    @foreach(var i in @ViewBag.quotes)
    {
    <tr>
        <td>@i["user"]</td>
        <td>@i["comment"]</td>
        <td>@i["created_at"]</td>
    </tr>
    }
</table>
<!-- <form action='' method='POST'>
    <label for='yourname'>Your Name:</label>
    <input type='text' name='yourname'/><br><br>
    <label for='yourquote'>Your Quote:</label>
    <textarea name='yourquote'></textarea><br><br><br>
    <input type='submit' value='Add My Quote!'/>
</form>
<button href='#'>Skip to Quotes!</button> -->