<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/CSS/style.css">
        <title>Results</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Submited Info:</h1>
            <label>Username:</label>
            <%= showresults.username %><br>
            <label>Location:</label>
            <%= showresults.location %><br>
            <label>Language:</label>
            <%= showresults.language %><br>
            <label>Description:</label>
            <%= showresults.description %><br><br>
            <form action="/goback">
                <button type="submit">Clear</button>
            </form>
        </div>
    </body>
</html>