<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/rest_app/CSS/rest_app.css">
        <title>Rested User</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Edit User {{results.first_name}} {{results.last_name}}</h1><br><br>
            <form action="/users/{{results.id}}" method='POST'>
                {% csrf_token %}
                <label for="first_name">First Name: </label>
                <input type="text" name='html_first_name' placeholder="At least 3 characters"><br><br>
                <label for="last_name">Last Name: </label>
                <input type="text" name='html_last_name' placeholder="At least 3 characters"><br><br>
                <label for="email">E-mail: </label>
                <input type="email" name='html_email' placeholder="Information here"><br><br>
                <input type="submit" value='Update'><br><br>
            </form>
            <a href="/users">Back to Users' list</a>
        </div>
    </body>
</html> 