<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="~/css/style.css"/> -->
    </head>
    <body>
        <h1>Submited Info:</h1>
            <label>Name:</label>
            <p>@ViewBag.name</p><br>
            <label>Location:</label>
            <p>@ViewBag.location</p><br>
            <label>Language:</label>
            <p>@ViewBag.language</p><br>
            <label>comment:</label>
            <p>@ViewBag.comment</p><br>
    </body>
</html>